<header>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm"
  >
    <div class="container-fluid">
      <h1 class="navbar-brand">
        <a routerLink="/" class="text-decoration-none text-teal">
          🖊️ Canetas Personalizadas
        </a>
      </h1>

      <!-- Botão de navegação para dispositivos móveis -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="onMenuClick()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="d-flex ms-auto">
          <!-- Barra de pesquisa -->
          <div *ngIf="menuType === 'default'" class="nav-search">
            <input
              type="text"
              [(ngModel)]="searchTerm"
              (ngModelChange)="searchProducts(searchTerm)"
              (blur)="hideSearch()"
              class="form-control"
              placeholder="🔍 Pesquisar Canetas..."
            />
            <button
              class="btn btn-outline-primary"
              (click)="submitSearch(searchTerm)"
            >
              Pesquisar
            </button>
            <ul class="suggested-search" *ngIf="searchResult.length > 0">
              <li *ngFor="let item of searchResult">
                <a (mousedown)="redirectToDetails(item.id)">
                  {{ item.name }}
                </a>
              </li>
            </ul>
          </div>

          <!-- Links de navegação -->
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                routerLink="/"
                class="nav-link btn btn-outline-primary"
                (click)="closeMenuAfterNavigation()"
              >
                🏠 Home
              </a>
            </li>
            <li class="nav-item">
              <a
                routerLink="seller-auth"
                class="nav-link btn btn-outline-primary"
                (click)="closeMenuAfterNavigation()"
              >
                🛍️ Área do Vendedor
              </a>
            </li>

            <li *ngIf="userName" class="nav-item">
              <span class="nav-link btn btn-outline-success">
                👤 {{ userName | titlecase }}
              </span>
            </li>
            <li *ngIf="userName" class="nav-item">
              <a (click)="logout()" class="nav-link btn btn-outline-danger">
                🚪 Sair
              </a>
            </li>

            <li *ngIf="!userName" class="nav-item">
              <a
                routerLink="/user-auth"
                class="nav-link btn btn-outline-primary"
                (click)="closeMenuAfterNavigation()"
              >
                🔑 Login/Cadastrar
              </a>
            </li>

            <li class="nav-item">
              <a
                routerLink="cart"
                class="nav-link btn btn-outline-primary"
                (click)="closeMenuAfterNavigation()"
              >
                🛒 Carrinho ({{ (cartItems$ | async)?.length || 0 }})
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
