/* 游 Estilos Globais da P치gina */
.user-auth {
  max-width: 400px;
  width: 100%;
  padding-top: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 100px auto; /* Centraliza o formul치rio horizontalmente */
}

/* 游 T칤tulos do Formul치rio */
.user-auth h1 {
  margin-top: 20px;
  margin-bottom: 40px;
  color: teal;
}

/* 游 Estiliza칞칚o do Formul치rio */
.common-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* 游 Campos de Entrada */
.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* 游 Bot칚o do Formul치rio */
.form-button {
  background-color: green;
  color: white;
  border: none;
  padding: 1%;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
  margin-bottom: 20px;
}

.form-button:hover {
  background-color: darkgreen;
}

/* 游 Responsividade */
@media (max-width: 480px) {
  .user-auth {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
  }

  .form-input {
    font-size: 14px;
    padding: 8px;
  }

  .form-button {
    font-size: 16px;
    padding: 10px;
  }
}
