/* 🌟 Estilos Globais */
.body {
  font-family: sans-serif;
}

/* Alternativa para garantir que todo o conteúdo abaixo da navbar não seja coberto */
.main-content {
  margin-top: 70px; /* Deve ser igual ou maior que a altura da navbar */
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

.common-form {
  text-align: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 300px;
}

/* 🌟 Campos de Entrada */
.form-input {
  height: 35px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 1px solid seagreen;
  color: seagreen;
}

.form-input:focus {
  border-color: darkgreen;
  outline: none;
}

/* 🌟 Botão de Ação */
.form-button {
  height: 35px;
  border: 1px solid seagreen;
  color: seagreen;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-button:hover {
  background-color: seagreen;
  color: white;
}

.button-disabled {
  cursor: not-allowed;
}

/* 🌟 Mensagens */
.error-p {
  color: red;
}

.message-p {
  color: green;
  text-align: center;
}

/* 🌟 Carousel */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black;
  border-radius: 5px;
}

/* 🌟 Estilos para Campos Inválidos */
.invalid-input {
  color: red;
  font-size: 12px;
  margin-top: -20px;
}

/* 🌟 Responsividade */
.max-width {
  width: 100%;
}
